<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/052875d05d.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Reports</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li><a href="workers.html" class="button">Workers</a></li>
                <li><a href="manager_settings.html" class="button">Settings</a></li>
                <li><a href="reports.html" class="button">Reports</a></li>
                <li><a href="login.html" class="button">Logout</a></li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="user-data">
                    Manager data
                </div>
                <div class="page-name">
                    <h1>Reports</h1>
                </div>
            </header>
            <section class="main-section">
                <div class="reports">
                    <button class="button">Monthly</button>
                </div>
            </section>
        </main>
    </div>
</body>